# Configuration file

general {
    # STANDARD - The player will occasionally be pushed out of certain spaces. Collisions are evaluated for full cubes only, non-full cubes are ignored. This is the default behavior up to Minecraft 1.12.
    # APPROXIMATE - The player can move into more spaces, but will still be pushed out of some. Collisions are evaluated for full cubes only, non-full cubes are ignored.
    # EXACT - The player can move into all spaces as expected. Collisions are evaluated for all types of cubes. This is the default behavior in Minecraft 1.13 and onwards.
    # Valid values:
    # STANDARD
    # APPROXIMATE
    # EXACT
    S:"Push Player Out Of Blocks"=EXACT

    ##########################################################################################################
    # blocks
    #--------------------------------------------------------------------------------------------------------#
    # Block-related config options (must match server).
    ##########################################################################################################

    blocks {
        # Make water only reduce light level by 1 per Y-level, instead of 3.
        B:"Brighter Water"=true

        # Use the new water rendering in 1.13+.
        B:"New Water"=true

        # Use the new fog rendering in 1.13+.
        B:"New Water Fog"=true

        # Allow seagrass to generate in the world.
        B:Seagrass=false
    }

    ##########################################################################################################
    # movement
    #--------------------------------------------------------------------------------------------------------#
    # Movement related config options.
    ##########################################################################################################

    movement {
        # Taking off with an elytra from the ground is now far easier like in Minecraft 1.15 and onwards.
        B:"Easy Elytra Takeoff"=true

        # Enables crawling to prevent suffocation. Note that if you disable this there will probably be behavioral differences from 1.13.
        B:"Enable Crawling"=false

        # Enables a keybind to toggle crawling.
        B:"Enable Toggle Crawling"=false

        # Allow climbing vines and climbing by pressing jump.
        B:"New Climbing Behavior"=true

        # Modify projectile behavior to be closer to that of newer versions (fixes MC-73884 and allows bubble columns to work with ender pearls).
        B:"New Projectile Behavior"=true

        # Prevent sprinting from being triggered by double tapping the walk forward key.
        B:"No Double Tab Sprinting"=false

        # Enables sprinting to the left and right.
        B:"Sideways Sprinting"=true

        # Enables swimming to the left and right.
        B:"Sideways Swimming"=true
    }

    ##########################################################################################################
    # miscellaneous
    #--------------------------------------------------------------------------------------------------------#
    # Config options for various features of the mod.
    ##########################################################################################################

    miscellaneous {
        # Enable bubble columns.
        B:"Bubble Columns"=false

        # Allows overriding the water and fog colors for a biome. Specify each entry like this (without quotes) - 'modname:biome,color,fogcolor'
        S:"Custom Biome Water Colors" <
            minecraft:ocean,#1787D4,#1165b0
            minecraft:plains,#44aff5,#44aff5
            minecraft:desert,#32a598,#32a598
            minecraft:extreme_hills,#007bf7,#007bf7
            minecraft:forest,#1e97f2,#1e97f2
            minecraft:taiga,#287082,#287082
            minecraft:swampland,#617b64,#232317
            minecraft:river,#0084ff,#0084ff
            minecraft:hell,#905957,#905957
            minecraft:sky,#62529e,#62529e
            minecraft:frozen_ocean,#2570b5,#174985
            minecraft:frozen_river,#185390,#185390
            minecraft:ice_flats,#14559b,#14559b
            minecraft:ice_mountains,#1156a7,#1156a7
            minecraft:mushroom_island,#8a8997,#8a8997
            minecraft:mushroom_island_shore,#818193,#818193
            minecraft:beaches,#157cab,#157cab
            minecraft:desert_hills,#1a7aa1,#1a7aa1
            minecraft:forest_hills,#056bd1,#056bd1
            minecraft:taiga_hills,#236583,#236583
            minecraft:smaller_extreme_hills,#045cd5,#045cd5
            minecraft:jungle,#14a2c5,#14a2c5
            minecraft:jungle_hills,#1b9ed8,#1b9ed8
            minecraft:jungle_edge,#0d8ae3,#0d8ae3
            minecraft:deep_ocean,#1787D4,#1463a5
            minecraft:stone_beach,#0d67bb,#0d67bb
            minecraft:cold_beach,#1463a5,#1463a5
            minecraft:birch_forest,#0677ce,#0677ce
            minecraft:birch_forest_hills,#0a74c4,#0a74c4
            minecraft:roofed_forest,#3b6cd1,#3b6cd1
            minecraft:taiga_cold,#205e83,#205e83
            minecraft:taiga_cold_hills,#245b78,#245b78
            minecraft:redwood_taiga,#2D6D77,#2D6D77
            minecraft:redwood_taiga_hills,#286378‌,#286378‌
            minecraft:extreme_hills_with_trees,#0e63ab,#0e63ab
            minecraft:savanna,#2c8b9c,#2c8b9c
            minecraft:savanna_rock,#2590a8,#2590a8
            minecraft:mesa,#4e7f81,#4e7f81
            minecraft:mesa_rock,#55809e,#55809e
            minecraft:mesa_clear_rock,#55809e,#55809e
            minecraft:mutated_plains,#44aff5,#44aff5
            minecraft:mutated_desert,#1a7aa1,#1a7aa1
            minecraft:mutated_extreme_hills,#0e63ab,#0e63ab
            minecraft:mutated_forest,#20a3cc,#20a3cc
            minecraft:mutated_taiga,#1E6B82‌,#1E6B82‌
            minecraft:mutated_swampland,#617b64,#232317
            minecraft:mutated_ice_flats,#1156a7,#1156a7
            minecraft:mutated_jungle,#1b9ed8,#1b9ed8
            minecraft:mutated_jungle_edge,#1b9ed8,#1b9ed8
            minecraft:mutated_birch_forest,#44aff5,#44aff5
            minecraft:mutated_birch_forest_hills,#44aff5,#44aff5
            minecraft:mutated_roofed_forest,#3b6cd1,#3b6cd1
            minecraft:mutated_taiga_cold,#205e83,#205e83
            minecraft:mutated_redwood_taiga,#44aff5,#44aff5
            minecraft:mutated_redwood_taiga_hills,#44aff5,#44aff5
            minecraft:mutated_extreme_hills_with_trees,#0e63ab,#0e63ab
            minecraft:mutated_savanna,#2590a8,#2590a8
            minecraft:mutated_savanna_rock,#2590a8,#2590a8
            minecraft:mutated_mesa,#497f99,#497f99
            minecraft:mutated_mesa_rock,#55809e,#55809e
            minecraft:mutated_mesa_clear_rock,#55809e,#55809e
            palebloom:pale_garden,#76889d,#556980
            netherex:ruthless_sands,#905957,#905957
            netherex:fungi_forest,#905957,#905957
            netherex:torrid_wasteland,#905957,#905957
            netherex:arctic_abyss,#905957,#905957
            nether_api:betternether_netherbiome,#905957,#905957
            nether_api:betternether_netherbiomegraveldesert,#905957,#905957
            nether_api:betternether_netherbiomejungle,#905957,#905957
            nether_api:betternether_netherwartforest,#905957,#905957
            nether_api:betternether_nethergrasslands,#905957,#905957
            nether_api:betternether_nethermushroomforest,#905957,#905957
            nether_api:betternether_nethermushroomforestedge,#905957,#905957
            nether_api:betternether_netherwartforestedge,#905957,#905957
            nether_api:betternether_netherpoorgrasslands,#905957,#905957
            nether_api:betternether_netherbonereef,#905957,#905957
            nether_api:nethercraft_glowing_grove,#905957,#905957
            biomesoplenty:corrupted_sands,#905957,#905957
            biomesoplenty:fungi_forest,#905957,#905957
            biomesoplenty:phantasmagoric_inferno,#905957,#905957
            biomesoplenty:undergarden,#905957,#905957
            biomesoplenty:visceral_heap,#905957,#905957
            biomesoplenty:kelp_forest,#88BFC3,#42AB83
            biomesoplenty:coral_reef,#02B0E5‌,#0289D5
            biomesoplenty:cherry_blossom_grove,#5db7ef,#5db7ef
            biomesoplenty:bamboo_forest,#1b9ed8,#1b9ed8
            biomesoplenty:origin_beach,#0E31FF,#0E31FF
            biomesoplenty:origin_island,#0E31FF,#0E31FF
            biomesoplenty:ominous_woods,#312346,#312346
            biomesoplenty:mystic_grove,#9C3FE4,#9C3FE4
            biomesoplenty:bayou,#3F76E4,#3F76E4
            biomesoplenty:wetland,#272179,#272179
            biomesoplenty:mangrove,#448FBD,#448FBD
            biomesoplenty:oasis,#1a7aa1,#1a7aa1
            biomesoplenty:grove,#44aff5,#44aff5
            biomesoplenty:dead_swamp,#354762,#354762
            biomesoplenty:steppe,#405682,#405682
            biomesoplenty:wasteland,#433721,#433721
            trinity:nuclear_crater,#433721,#433721
            trinity:contaminated_ocean,#433721,#433721
            nuclearcraft:nuclear_wasteland,#433721,#433721
         >

        # Animate eating in third-person view.
        B:"Eating Animation"=true

        # Whether or not items should float in water like in 1.13+.
        B:"Floating Items"=true

        # Replenish air slowly when out of water instead of immediately.
        B:"Replenish Air Slowly"=true

        # Parrots no longer leave the players shoulders as easily, instead the player needs to press the sneak key.
        B:"Sneaking Dismounts Parrots"=true

        # List of WorldProviders in which fog should be disabled.
        S:"WorldProvider Fog Blacklist" <
            thebetweenlands.common.world.WorldProviderBetweenlands
         >
    }

    ##########################################################################################################
    # integration
    #--------------------------------------------------------------------------------------------------------#
    # Control compatibility settings for individual mods.
    ##########################################################################################################

    integration {
        # Only applies when the mod is installed. Disable when there are issues with the mod.
        B:"Applied Energistics 2 Integration"=true

        # Only applies when the mod is installed. Disable when there are issues with the mod.
        B:"ArtemisLib Integration"=true

        # Only applies when the mod is installed. Disable when there are issues with the mod.
        B:"Betweenlands Integration"=true

        # Only applies when the mod is installed. Disable when there are issues with the mod.
        B:"Chiseled Me Integration"=true

        # Only applies when the mod is installed. Disable when there are issues with the mod.
        B:"Ender IO Integration"=true

        # Only applies when the mod is installed. Disable when there are issues with the mod.
        B:"Hats Integration"=true

        # Only applies when the mod is installed. Disable when there are issues with the mod.
        B:"Mo' Bends Integration"=true

        # Only applies when the mod is installed. Disable when there are issues with the mod.
        B:"Morph Integration"=true

        # Only applies when the mod is installed. Disable when there are issues with the mod.
        B:"Random Patches Integration"=true

        # Only applies when the mod is installed. Disable when there are issues with the mod.
        B:"Thaumic Augmentation Integration"=true

        # Only applies when the mod is installed. Disable when there are issues with the mod.
        B:"Trinkets and Baubles Integration"=true

        # Only applies when the mod is installed. Disable when there are issues with the mod.
        B:"Wings Integration"=true

        # Only applies when the mod is installed. Disable when there are issues with the mod.
        B:"Witchery: Resurrected Integration"=true
    }

}


