# Configuration file

client {
    # Set this to false to disable rendering of baubles in the player. [default: true]
    B:baubleRender.enabled=false

    gui {
        B:baublesButton=true
        I:column=2
        S:guiList <
            vazkii.botania.client.gui.box.GuiBaubleBox
            cursedflames.bountifulbaubles.block.GuiReforger
         >
        B:guiOverlay=true
        B:scrollerBar=true
        B:typeTip=true
        B:visibleSwitchers=true
        B:widerBar=false
    }

}


general {
    # Use this to change the bauble type of the item.
    # example: minecraft:apple -> body -> -1
    # 0 = Only inventory update | 1 = Only armor update | 2 = both | -1 = nothing
    S:changeBaubleType <
     >
    S:clickBlacklist <
        wct:wct
     >

    # Item ID whitelist for duplicate baubles. Items in this list can be equipped multiple times even when preventDuplicateBaubles is enabled. Example: minecraft:golden_apple
    S:duplicateBaublesWhitelist <
     >
    S:itemsJson <
        items.json
     >
    B:keepBaubles=false
    S:modulesJson <
     >

    # Used to add the new type of slots.
    # example: ear
    # Next, you'll need to place the "ear.png" file into assets/baubles/textures/gui/slots/ as part of your resource pack, just like the others.
    # And add "baubles.type.ear=Ear" to the language file (example: en_us.lang)
    S:newSlotType <
     >

    # If true, the same bauble item ID cannot be equipped in multiple bauble slots (ignores NBT). [default: false]
    B:preventDuplicateBaubles=false
    B:rightClick=true

    # If false, the player cannot directly wear the ornament by right-clicking it [default: false]
    B:rightClickEquipped=false

    # The mode when scrolling the accessory bar [1 indicates looping (1 -> 9 -> 1), 2 indicates non-looping (1 <-> 9)] [range: 1 ~ 2, default: 1]
    I:rollMode=1

    # Used to set the maximum number of slots [range: 0 ~ 99999, default: 32]
    I:slotMaxNum=32
    S:typesJson <
        types.json
     >

    compat {
        B:artifacts=true
        B:bountifulbaubles=true
        B:setbonus=true
    }

    slots {
        I:amuletSlot=1
        I:beltSlot=1
        I:bodySlot=1
        I:charmSlot=1
        I:headSlot=1
        I:ringSlot=2
        I:trinketSlot=0
    }

    items {
        B:elytraBauble=false
        S:elytraSlot=elytra
        B:itemRing=true
        I:maxLevel=1
        B:testItem=false
        B:totemBauble=false
        S:totemSlot=charm
    }

    commands {
        B:commandLogs=true
        B:debug=false
        B:dropBaubles=true
    }

}


