# Configuration file

general {
    # Enable support for Buildcraft Gates
    B:BCSilicon=true

    # Enable support for Buildcraft Pipes
    B:BCTransport=true

    # Add support for Custom slots.
    # Format: containerGUI:container:slot[:true/false][:slotIDs]
    # Use debug to find the container, the slot, and slot IDs.
    # Try to set the 4th augment `true` if the drag isn't working. It makes the slot ignore which items can be put into it.
    # 5th augment accepts a comma-separated slot IDs allowed to drag to, such as '5,10-13'
    S:customEntries <
        com.rwtema.extrautils2.gui.backend.DynamicGui:com.rwtema.extrautils2.tile.TileCrafter$CrafterContainer:com.rwtema.extrautils2.tile.TileCrafter$CrafterContainer$3:true#EXU2 mechanical crafter
        com.rwtema.extrautils2.gui.backend.DynamicGui:com.rwtema.extrautils2.items.ItemFilterFluids$FilterConfigContainer:com.rwtema.extrautils2.items.ItemFilterFluids$FilterConfigContainer$3:true:0-15#EXU2 Fleuid Filter
        com.rwtema.extrautils2.gui.backend.DynamicGui:com.rwtema.extrautils2.items.ItemFilterItems$FilterConfigContainer:com.rwtema.extrautils2.gui.backend.WidgetSlotGhost:true:0-15#EXU2 Item Filter
        cofh.thermalexpansion.gui.client.storage.GuiSatchelFilter:cofh.thermalexpansion.gui.container.storage.ContainerSatchelFilter:cofh.thermalexpansion.gui.slot.SlotSatchelFilter#Satchel Filter
        cofh.thermalexpansion.gui.client.device.GuiItemCollectorFilter:cofh.thermalexpansion.gui.container.device.ContainerItemCollectorFilter:cofh.core.gui.slot.SlotFalseCopy#Vacuumulator Filter
     >

    # Enable debug, dumps GUI, Container, and Slot classes into the log, when opening GUI or clicking on slots.
    B:debug=false

    # Patch JustEnoughDrags so it won't crash on the dedicated server.
    B:serverSidePatches=true
}


